body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Unbounded', cursive;
  background-color: #fff;
  background-image: url(./images/productive.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-image: url('productive.png'); */
}

/* Add Task Form */
.add-form {
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 1rem;
}
.form-control {
  margin: auto 50px;
  width: 96%;
  border-radius: 1rem;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control input:focus {
  outline: 0;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:hover {
  background-color: #000;
  transform: scale (1.08);
}
.btn:focus {
  outline: none;
  color: white;
}
.btn:hover {
  color: white;
  background: #223F9A;
}
.btn-block {
  display: block;
  width: 99%;
  /* margin-left: 10px; */
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 30px;
  font-size: large;
  background-color: #fff;
  transition: 2s;
}
.app-header {
  font-family: 'Unbounded', cursive;
}
.info-btn {
  text-decoration: none;
  color: black;
}
.info-btn:hover {
  color: #223F9A;
}

/* Task */
.task {
  background-color: #FFFFFF;
  margin: 10px 30px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  transition: 2s;
}
.task:hover {
  transform: scale (1.08);
}
.textBold {
  font-weight: bold;
  color: black;
}
.task-number {
  color: black;
  margin: 0px 30px;
}
.delIcon {
  color: black;
  cursor: pointer;
  align-items: center;
  font-size: 15px;
}
.editIcon {
  color: black;
  cursor: pointer;
  align-items: center;
  font-size: 15px;
}
.task-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: right;
  align-items: center;
}

/* POPUP */




/* FORMS */
.add-form {
  margin-bottom: 40px;
  background-color: #fff;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control input:focus {
  outline: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 30%;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 90%;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 40%;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 95%;
  }
  .app-header {
    font-size: 20px;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 45%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 95%;
  }
  .app-header {
    font-size: 18px;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 50%;
  }
}
