/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Add Task Form */
.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control input:focus {
  outline: 0;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
  color: white;
}
.btn-block {
  display: block;
  width: 100%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app-header {
  font-family: "Josefin Sans", sans-serif;
}

/* Task */
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.textBold {
  font-weight: bold;
}
.delIcon {
  color: red;
  cursor: pointer;
}
.editIcon {
  color: blue;
  cursor: pointer;
}

.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control input:focus {
  outline: 0;
}
@media (max-width: 768px) {
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 30%;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 90%;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 40%;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 95%;
  }
  .app-header {
    font-size: 20px;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 45%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 95%;
  }
  .app-header {
    font-size: 18px;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 50%;
  }
}
